.add-row {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #007bff;
}

.add-row::before {
    font-family: FontAwesome;
    content: '\f067';
    margin-right: 5px;
}

.add-row:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.add-row.focus, .add-row:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.delete-row {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #ffffff;
    background-color: #dc3545;
    background-image: none;
    border: 1px solid #dc3545;
}

.delete-row::before {
    font-family: FontAwesome;
    content: '\f1f8';
    margin-right: 5px;
}

.delete-row:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #c82333;
}

.delete-row.focus, .delete-row:focus {
        box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.dynamic-form {
    padding: 5px 15px;
}

.row1 {
    background-color: #f9f9f9;
}

.row2 {
    background-color: #f3f3f3;
}

.row3 {
    background-color: #ededed;
}