{% extends 'base.html' %}
{% block content %}
<h1>Product Addition</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group row">
      <div class="col-sm-4">
          {{ field.label_tag }}
          {% if field.field.required %}
          <span class="text-danger">*</span>
          {% endif %}<br>
      </div>
      <div class="col-sm-8">

          {{ field }}

      </div>
  </div>
  {% for error in field.errors %}
  <p style="color: red">{{ error }}</p>
  {% endfor %}
  {% endfor %}
  <input type="submit" name="" value="submit">
</form>



{% endblock %}
