{% extends 'base.html' %}

{% block title %} attendee registration {% endblock %}
{% block content %}
<h1>attendee registration</h1>

<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}


                                <dl>           <dt>{{ field.label_tag }}
                                        {% if field.field.required %}<span class="error"> * </span>{% endif %}
                                    </dt>
                                    <dd>{{ field }}</dd>
                                    {% if field.help_text %}
                                        <dd>{{ field.help_text }}</dd>{% endif %}
                                    {% if field.errors %}
                                        <div class="error">{{ field.errors }} </div>{% endif %}
                                    </dl>

        {% endfor %}
  <input type="submit" name="" value="Register">
</form>

{% endblock %}
