<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/security_assets/css/formset.css">
    <link rel="stylesheet" href="/static/security_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/security_assets/css/font-awesome.min.css">
    {% block extracss %}
    {% endblock %}
   </head>
  <body>

    {% block content %}

    {% endblock %}

    {{ formset.media }}
<script src="/static/security_assets/js/vendor/jquery-2.2.4.min.js"></script>
<script src="/static/security_assets/js/jquery.formset.js"></script>
<!-- bootstrap 4 js -->
<script src="/static/security_assets/js/bootstrap.min.js"></script>
{% block extrajs %}
{% endblock %}
  </body>
</html>
