{% extends 'base.html' %}
{% block content %}
<h2>payment</h2>
<form  method="post">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group row">
          <div class="col-sm-4">
              {{ field.label_tag }}
              {% if field.field.required %}
                  <span class="text-danger">*</span>
              {% endif %}<br>
          </div>
          {% if field.name == 'product'  %}
          {{field}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add
          </button>
          {% else %}
          <div class="col-sm-8">
              {{ field }}
          </div>
          {% endif %}
      </div>
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
      {% endfor %}
  {% endfor %}
  {{form.management_form}}
  <input type="submit" name="" value="payment">
</form>



{% endblock %}
