{% extends 'base.html' %}
{% block content %}
<h1>Cart form</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group row">
          <div class="col-sm-4">
              {{ field.label_tag }}
              {% if field.field.required %}
                  <span class="text-danger">*</span>
              {% endif %}<br>
          </div>
          {% if field.name == 'product'  %}
          {{field}}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add
          </button>
          {% else %}
          <div class="col-sm-8">
              {{ field }}
          </div>
          {% endif %}
      </div>
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
      {% endfor %}
  {% endfor %}
  <input type="submit" name="" value="Save">
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Denomination form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/denomination_modal/" method="post">
                  {% csrf_token %}
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="" required>
                    <p></p>
                    <label for="value">Value:</label>
                    <input type="number" name="value" value="" required >

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




{% endblock %}
