{% extends 'base.html' %}
{% block content %}

<h1>cash form</h1>
<form  method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
        <div class="col-sm-4">
            {{ field.label_tag }}
            {% if field.field.required %}
            <span class="text-danger">*</span>
            {% endif %}<br>
        </div>
        <div class="col-sm-8">
            {% if field.name == 'note_type' %}
            {{ field }}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Add
            </button>
            {% else %}
            {{ field }}
            {% endif %}
        </div>
    </div>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% endfor %}
    <input type="submit" name="" value="submit">
</form>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Denomination form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="denomination" action="/denomination_modal/" method="post">
                  {% csrf_token %}
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="" value="" required>
                    <p></p>
                    <label for="value">Value:</label>
                    <input type="number" id="value" name="" value="" required >

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="doAsyncPost()" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}

<script>
  function doAsyncPost(){
    var name = $("#name").val();
    var value = $("#value").val();
    $.ajax({
      url:'/denomination_modal/',
      type:'POST',
      data:{
        'name':name,
        'value':value
      },
      dataType:'json',
      success: function(data, status, xhr) {
          if (data.is_taken) {
            alert("A denomination type already exists.");
          }
        }
    });
  }

</script>
{% endblock %}
