{% extends 'base.html' %}
{% block content %}
<h1>checkout</h1>
<form  method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group row">
      <div class="col-sm-4">
          {{ field.label_tag }}
          {% if field.field.required %}
              <span class="text-danger">*</span>
          {% endif %}<br>
      </div>
      {% if field.name == 'billing_counter' %}
      {{field}} <button type="button" name="button">Add </button>

      <div class="col-sm-8">
          {{ field }}
      </div>
  
  </div>
  {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
  {% endfor %}

  {% endfor %}
  <select class="form-control" multiple="multiple">
  <option selected="selected">orange</option>
  <option>white</option>
  <option selected="selected">purple</option>
  </select>
</form>

{% endblock %}
