{% extends 'base.html' %}
{% block content %}

<h1>billing counter</h1>
<form id="formsubmit" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group row">
      <div class="col-sm-4 ">
          {{ field.label_tag }}
          {% if field.field.required %}
              <span class="text-danger">*</span>
          {% endif %}<br>
      </div>
      <div class="col-sm-8">
          {{ field }}
      </div>
  </div>
  {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
  {% endfor %}

  {% endfor %}
  {{ formset.management_form }}

<div id="looper">
  {% for field in formset %}
  <div class="form-group row">
      <div class="col-sm-4">
          {{ field.label_tag }}
          {% if field.field.required %}
              <span class="text-danger">*</span>
          {% endif %}<br>
      </div>

        <div class="col-sm-8">
            {{ field }}
        </div>
  </div>

  {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
  {% endfor %}

  {% endfor %}
  </div>


</form>

<button type="button" onclick="submit()">Submit</button>



{% endblock %}

{% block extrajs %}


<script>
function submit(){
  var looper=$("#looper");
  var inputs =looper.find("input");
  var selects = looper.find("select");
  console.log(inputs);
  console.log(selects);
  var total = 0;
  var newinp = [];
  var cc = 0;
  for(var i=0;i<inputs.length;i++){

      console.log($(inputs[i]).attr("id"));
      if ($(inputs[i]).attr("id").endsWith("counts")) {
        newinp[cc] = parseInt($(inputs[i]).val());
        cc++;
      }

  }
  console.log(newinp);
  for(var i=0;i<selects.length;i++){
    var sid=$(selects[i]).attr("id");

    var iid=$(inputs[i]).attr("id");

    var count = 1;
    var type = 1;
    if(iid.endsWith("counts")){
      try{
        count = parseInt($(inputs[i]).val());
      }catch(e){}
    }
    if(sid.endsWith("note_type")){
      var sel=$(selects[i]).find("option:selected");
      try{
        type=parseInt(sel.text());
      }catch(e){}
    }
    console.log(type , newinp[i]);
    if (newinp[i] && type) {
      total+=newinp[i]*type;
    }

  }
  var openbal = $("#id_opening_balance").val();
  if (parseInt(openbal) === total) {
    console.log("Equals");
    $("#formsubmit").submit();

  }
  else {
    alert("total: "+total +" doesnt match to opening balance ");
  }


}
</script>



{% endblock %}
