{% extends 'base.html' %}
{% block content %}
<h1>Main page</h1>
<ul>
  <li>{{object.cashier.username}}</li>
  <li>{{object.counter_id}}</li>
</ul>

  <h3>Opening balance</h3>
  {{object.opening_balance}}
  <table>

      <tr>
        <th>Note name</th>
        <th>Value</th>
        <th>counts</th>
      </tr>
      <tbody id="opening">
        {% for i in object.cash_objects %}
        {% if i.is_customer == False %}
          <tr>
            <td>{{i.note_type.name}}</td>
            <td>{{i.note_type.value}}</td>
            <td>{{i.counts}}</td>
          </tr>
        {% endif %}
        {% endfor %}
      </tbody>
  </table>
<p></p>
<h3>Current Balance</h3>
<table>
  <tr>
    <th>Note name</th>
    <th>Value</th>
    <th>counts</th>
  </tr>
  <tbody id="current">
    {% for i in denom %}

     <tr>
       <td>{{i.name}}</td>
       <td>{{i.value}}</td>
       <td>{% for j in cash %}
         {% if i.value == j.note_type.value %}
         {{j.counts}}
         {% endif %}
         {% endfor %}
       </td>
     </tr>

   {% endfor %}

  </tbody>

</table>

{% if  %}
<a href="{% url 'c_payment' bid=object.id %}">payments</a>


{% endblock %}
{% block extrajs %}

<script>
  var arrtype =[];
  var arrcount =[];
  (function(){
    var opening = $("#opening");
    console.log(opening);
    var trs = opening.find("tr");
    console.log(trs);
    var tds = trs.find("td");
    console.log(tds);
    var count =0;

    for(var i=0;i<tds.length;i++){
      if(count ===1 || count ===2){
        console.log($(tds[i]).html());
        if(count===1){
          arrtype.push($(tds[i]).html());
        }else if(count === 2){
          arrcount.push($(tds[i]).html());
        }

        if(count===2)
        count = -1;
      }
      count++;

    }
    console.log(arrtype+"---------"+arrcount);

  })();



</script>

{% endblock %}
