{% extends 'base.html' %}
{% block title %} denomination form {% endblock %}

{% block content %}
<h1 class="text-center">denomination form</h1>
<form method="post">

  {% csrf_token %}
  {% for field in form %}
      <div class="form-group row">
          <div class="col-sm-4">
              {{ field.label_tag }}
              {% if field.field.required %}
                  <span class="text-danger">*</span>
              {% endif %}<br>
          </div>
          <div class="col-sm-8">
              {{ field }}
          </div>
      </div>
      {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
      {% endfor %}
  {% endfor %}

<h1 class="text-center">Cash Form </h1>

  <div class="row">
        {% if formset.errors %}
        <div class="col-sm-8 text-danger">{{ formset.non_field_errors }}</div>
        {% endif %}
    </div>
    {% for f in formset.forms %}
    {% if f.errors %}
    <div class="col-sm-8 text-danger" >{{ f.non_field_errors }}</div>
    {% endif %}
    <div id="{{ formset.prefix }}-row"
         style="padding-bottom:6px; border-bottom:1px dotted #ccc; margin-bottom:6px;">
        {% for field in f %}
        {% if field not in f.hidden_fields %}
        <div class="form-group row">
            <div class="col-sm-4 ">
                {{ field.label_tag }}{% if field.field.required %}
                <span class="text-danger"> *</span>{% endif %}
            </div>
            <div class="col-md-8">
                {{ field }}
            </div>
        </div>
        {% endif %}
        {% if field.help_text %}
        <div class="col-sm-8 text-success"><i
                class="fa fa-info-circle"></i> {{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
        <div class="col-sm-8 text-danger" >{{ field.errors }}
        </div>
        {% endif %}
        {% for fld in f.hidden_fields %}
        {{ fld }}{% endfor %}
        {% if f.instance.pk %}
        {{ f.DELETE }}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

     {{ formset.management_form }}
    <div class="row">
        <div class="col-md-12 block">
            <button type="submit"  class="btn btn-primary mt-4">Submit</button>
        </div>
    </div>
</form>


{% endblock %}

{% block extrajs %}
<script>
        $("#visit_time").prop("readonly", true);
    </script>
<script>
   try {
        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].getAttribute("type") === "checkbox") {
                if (!inputs[i].getAttribute("id").includes("DELETE")) {
                    inputs[i].setAttribute("data-toggle", "toggle");
                    inputs[i].setAttribute("data-size", "small");
                    inputs[i].setAttribute("data-on", "<i class='ti-check-box'></i> Yes");
                    inputs[i].setAttribute("data-off", "<i class='ti-close'></i> No");
                }
            } else if (inputs[i].getAttribute("type") === "radio") {

            } else {
                inputs[i].classList.add("form-control");
                try {
                    var placeholder = $(inputs[i].closest('.col-sm-8')).parent().find("div>label").text();
                    if (placeholder === null || placeholder === "") {
                        placeholder = $(inputs[i].closest('.col-sm-12')).parent().find("div>label").text();
                    }
                    if (inputs[i].getAttribute("placeholder") === null) {
                        inputs[i].setAttribute("placeholder", placeholder);
                    }
                } catch (e) {

                }

            }
        }
    } catch (e) {
        log(e)
    }

    try {
        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            selects[i].classList.add("form-control");
            selects[i].classList.add("single-select");
        }
    } catch (e) {
        log(e)
    }


    try {
        $(".single-select").select2();
    } catch (e) {

    }

    try {
        var tareas = document.getElementsByTagName("textarea");
        for (var i = 0; i < tareas.length; i++) {
            tareas[i].classList.add("form-control");
            tareas[i].rows = "3";

            try {
                var placeholder = $(tareas[i].closest('.col-sm-8')).parent().find("div>label").text();
                if (placeholder === null || placeholder === "") {
                    placeholder = $(tareas[i].closest('.col-sm-12')).parent().find("div>label").text();
                }

                tareas[i].setAttribute("placeholder", placeholder);
            } catch (e) {

            }
        }
    } catch (e) {
        log(e)
    }

    try {
        var parent = $('input:checkbox[id $= "-DELETE"]').closest(".btn");
        parent.hide();
    } catch (e) {
        console.log("Oops, something went wrong!");
    }
</script>
<script type="text/javascript">
    $(function () {
        $('*[id*=row]').formset({
            extraClasses: ['row1', 'row2', 'row3']
        });
    })
</script>
{% endblock %}
