{% extends 'base.html' %}
{% block title %}Add department{% endblock %}
{% block content %}
<h1>Department Form</h1>
<form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="" value="Save">
</form>
{% endblock %}
