{% extends 'base.html' %}
{% block content %}
<h3>Current Status</h3>
<table class="table">
  <tr>
    <th>Value</th>
    {% for i in cash %}
    <th >{{i.note_type.value}} x</th>
    {% endfor %}
  </tr>
  <tr>
    <td>Counts</td>
    {% for i in cash %}
      <td>{{i.counts}}</td>
    {% endfor %}
  </tr>
</table>
<p></p>
<form method="post">
<div class="row">
  {% csrf_token %}
  <div class="col-lg-6 col-md-6 text-center">
    <h1>Customer Pay</h1>

    {% for i in obj %}
    
    <input type="hidden" name="note" value="{{i}}">
    <label for="note" >{{i}}</label>x
    <input type="number" name="counts" value="">
    <p></p>

    {% endfor %}
  </div>



  <div class="col-lg-6 col-md-6 text-center">
    <h1>Returns</h1>
    {% for i in obj %}
    <input type="hidden" name="return_note" value="{{i}}">
    <label for="note" >{{i}}</label>x
    <input type="number" name="return_counts" value="">
    <p></p>

    {% endfor %}
  </div>

</div>
<input type="submit" name="" value="pay">

</form>



{% endblock %}
{% block extrajs %}
<!-- <script>
  function submit(){
    var inp = $("input");
    var lab = $("label");
    console.log(inp);
    console.log(lab);
    $.post("/pay_cash/",
    {
      inp: inp,
      lab: lab,
    }
    )
    console.log(inp);
    console.log(lab);
    var total = 0;
    for(var i =0;i<inp.length;i++){
      console.log($(lab[i]).html());
      console.log($(inp[i]).val());
      var amt = parseInt($(lab[i]).html());
      var count = parseInt($(inp[i]).val());
      if(count){
        total += amt*count;
      console.log("amt---" +total);
      $.post("/pay_cash/",
      {
        value:$(lab[i]).html(),
        count:$(inp[i]).val()

      },
      )
    }

</script> -->


{% endblock %}
