{% extends 'base.html' %}
{% block content %}
<h1>Dash Screen</h1>
<table class="table">
  <tr>
    <th>Value</th>
    {% for i in cash %}
    <th >{{i.note_type.value}} x</th>
    {% endfor %}
    <th></th>
  </tr>
  <tr>
    <td>Counts</td>
    {% for i in cash %}
      <td>{{i.counts}}</td>
    {% endfor %}
  </tr>
</table>
<p></p>
<table class="table">
  <tr>
    <th>Opening Balance</th>
    <th>Current Balance</th>
    <th>Profit</th>
  </tr>
  <tr>
    <td>{{open.amount}}</td>
    <td>{{current.amount}}</td>
    <td>{{profit}}</td>
  </tr>
</table>
<a href="{% url 'grid' bill=bill %}">
<button type="button" name="button">
Payments
</button>
</a>


{% endblock %}
