{% extends 'base.html' %}
{% block content %}
<h1>Bill Counter</h1>
<form method="post">
  {% csrf_token %}
  <label for="">billing counter id</label>
  <input type="text" name="bill" value="">
  <p></p>
  {% for i in obj %}
  <input type="hidden" name="note" value="{{i}}">
  <label for="note" >{{i}}</label>x
  <input type="number" name="counts" value="">
  <p></p>

  {% endfor %}
  <input type="submit" name="" value="login">
</form>



{% endblock %}
