{% extends 'base.html' %}
{% block title %} seller registration {% endblock %}

{% block content %}
<h1>Seller Registration</h1>
<p></p>
<form method="post">
  <!-- {% if form_s.errors %}
  <h4>{{form_s.non_field_errors}}</h4>
  {% endif %}
  {% if form_d.errors %}
  <h4>{{form_d.non_field_errors}}</h4>
  {% endif %} -->


  {% csrf_token %}
  {{form_s.as_p}}
  {{form_d.as_p}}
  <input type="submit" name="" value="register">
</form>

{% endblock %}
